.body{
    background-color: #f2f2f2;
}
.filter{
   background-color: red;
    width : 13px;
    flex-direction: row-reverse;
}
.question-wrapper {
    background-color: rgb(230, 230, 230);
    /*background-color: red;*/
    padding: 8px 16px;
    margin: 2vw;
}

.select-default{
    background-color: #2b6777;
    user-select: none;
    color: black;
    /*margin-top: 2vw;*/
    width: 7vw;
    height: 2vw;
    cursor: pointer;
}
.sel-correct{
    background-color: #008000;
}
.sel-NotCorrect{
    background-color: #FF0000;
}

.sentence{
    /*padding: 2vw;*/
}

.option{
    background-color: white;
}

.login{
    margin: 2vw;
    padding: 2vw;
}
.container{
	max-width: 600px;
	margin: 0 auto;
	padding: 80px 12px;
	height: 400px;
	text-align: center;
}
.h1{
    margin-top: 3vw;
}
.h2{
    margin: 2vw;
}
h3 {
  margin: 0 0 .5em 0;
}
.button{
    margin: 2vw;
    margin-top: 4vw;
    appearance: none;
    outline: 0;
    background-color: #2b6777;
    border: 0;
    padding: 10px 15px;
    color: #ffffff;
    border-radius: 3px;
    width: 15vw;
    cursor: pointer;
    font-size: 18px;
    transition-duration: 0.25s;

}
.button-index{
    width: 12vw;
}
.two-column{
    display: flex;
	justify-content: space-between;
    flex-direction: row-reverse;
    padding: 1vw;
    text-align: center;
    margin-top:1vw;
}
.row_dir{
    flex-direction: row;
}
.text{
    text-align: center;
}

.chooseLevel{
    /*border: 1vw solid red;*/
    width:100vw;
}
